.mainContent{
    height: calc(100% - 56px - 100px);
    overflow: hidden;
}

.feedWrapper {
    height: 100%;
    padding: 0 10px;
    overflow-y: scroll;
}

.chatFormWrapper {
    padding: 0 10px;

    .mat-card {
        background-color: skyblue;
    }
}

#scroll-style::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}