<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">forum</mat-icon>
        <span>PWA</span>
        <span class="example-spacer"></span>
        <div
            *ngIf="(user|async)?.uid">
            <span>{{userEmail}}</span>
            <button 
                mat-button 
                (click)="logout()"
                >logout</button>
        </div>
        <div *ngIf="!(user|async)?.uid">
            <button mat-button routerLink="/signup">Sign Up</button>
            <button mat-button routerLink="/login">Login</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>