<form class="example-form">
      <mat-form-field class="username">
        <input matInput 
          placeholder="email id"
          [(ngModel)]="email"
          type="email" 
          name="email" required>
      </mat-form-field>
    
      <mat-form-field class="password">
          <input matInput 
            placeholder="password"
            [(ngModel)]="password"
            type="password" 
            name="password" required>
      </mat-form-field>

      <div class="button-container">
          <button mat-raised-button color="primary"
            (click)="login()">Next</button>
        </div>
</form>