.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 15%;
}